{% extends 'base.html' %}

{% block content %}
    <main class="main main--content">
        <dl>
            <div class="contact">
                <dt>Email:</dt>
                <dd class="contact__details">
                    <a class="contact__link" href="mailto:farhan.shaikh2@gmail.com">
                        farhan.shaikh2 [at] gmail.com</a>
                </dd>

            </div>
            
            <div class="contact">
                <dt>Github:</dt>
                <dd class="contact__details">
                    <a class="contact__link" href="https://github.com/thinkingdatascience/">
                        @thinkingdatascience</a>
                </dd>

            </div>

            <div class="contact">
                <dt>Linkedin
                    :</dt>
                <dd class="contact__details">
                    <a class="contact__link" href="https://www.linkedin.com/in/farhan-shaikh-97577325/">
                        My Profile</a>
                </dd>

            </div>
        </dl>
    </main>
    
{% endblock content %}